In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('HAI817_Projet_train.csv')
df.head()

,public_id,text,title,our rating
0,5a228e0e,Distracted driving causes more deaths in Canad...,"You Can Be Fined $1,500 If Your Passenger Is U...",false
1,30c605a1,Missouri politicians have made statements afte...,Missouri lawmakers condemn Las Vegas shooting,mixture
2,c3dea290,Home Alone 2: Lost in New York is full of viol...,CBC Cuts Donald Trump's 'Home Alone 2' Cameo O...,mixture
3,f14e8eb6,But things took a turn for the worse when riot...,Obama’s Daughters Caught on Camera Burning US ...,false
4,faf024d6,It’s no secret that Epstein and Schiff share a...,Leaked Visitor Logs Reveal Schiff’s 78 Visits ...,false

In [27]:
# nombre de lignes et de colonnes
df.shape

(1264, 4)

In [28]:
# on count le nombre de valeurs manquantes par colonne
df.isnull().sum()

public_id      0
text           0
title         23
our rating     0
dtype: int64

In [29]:
# afficher les lignes ou le title est manquant
df[df['title'].isnull()]

,public_id,text,title,our rating
483,ef45cf0b,Full Text of SB0042 100th General Assembly Jul...,NaN,mixture
510,10cfd37c,HON. STEFAN I. MYCHAJLIW ERIE COUNTY COMPTROLL...,NaN,mixture
533,9d2b111d,False Postulates#Neither the rate nor the magn...,NaN,mixture
555,17717174,"Elisa Granato, the first volunteer who availed...",NaN,false
565,8a9e86f3,Regulation promotes self-sufficiency and immig...,NaN,false
590,fe823860,"In the last year, the Reserve Bank of India bo...",NaN,false
591,42f280e8,PRIMARY school kids donned masks and had their...,NaN,true
608,53d111d0,The primary school population in England has c...,NaN,mixture
690,46c1c680,People tired of tough decade had hopes for the...,NaN,mixture
742,6b94e779,Historians may look to 2015 as the year when s...,NaN,other
767,57eba0b9,"According to NOAA’s own historical data, of th...",NaN,other
774,f2cf61ca,An 18-year-old United States citizen has been ...,NaN,true
797,eac62836,Get US and UK politics insight with our free d...,NaN,true
863,6378a0ff,A coalition of civil society groups has descri...,NaN,true
879,bf3f6fdb,"MOSCOW, August 13. /TASS/. The United States’ ...",NaN,mixture
898,842ac903,Rep. Leon Young figures the Wisconsin Legislat...,NaN,false
923,842ac903,Rep. Leon Young figures the Wisconsin Legislat...,NaN,false
944,53d111d0,The primary school population in England has c...,NaN,mixture
988,17717174,"Elisa Granato, the first volunteer who availed...",NaN,false
1022,10cfd37c,HON. STEFAN I. MYCHAJLIW ERIE COUNTY COMPTROLL...,NaN,mixture
1025,bf3f6fdb,"MOSCOW, August 13. /TASS/. The United States’ ...",NaN,mixture
1037,fe823860,"In the last year, the Reserve Bank of India bo...",NaN,false
1038,6378a0ff,A coalition of civil society groups has descri...,NaN,true

In [30]:
# afficher le nombres de valeurs uniques dans 'public_id' 
df['public_id'].nunique()

1115

In [31]:
# supprimer les lignes en doublons
df = df.drop_duplicates(subset='public_id')

# on count le nombre de valeurs manquantes par colonne
df.isnull().sum()

public_id      0
text           0
title         16
our rating     0
dtype: int64

In [32]:
# afficher les lignes ou le title est manquant
df[df['title'].isnull()]

,public_id,text,title,our rating
483,ef45cf0b,Full Text of SB0042 100th General Assembly Jul...,NaN,mixture
510,10cfd37c,HON. STEFAN I. MYCHAJLIW ERIE COUNTY COMPTROLL...,NaN,mixture
533,9d2b111d,False Postulates#Neither the rate nor the magn...,NaN,mixture
555,17717174,"Elisa Granato, the first volunteer who availed...",NaN,false
565,8a9e86f3,Regulation promotes self-sufficiency and immig...,NaN,false
590,fe823860,"In the last year, the Reserve Bank of India bo...",NaN,false
591,42f280e8,PRIMARY school kids donned masks and had their...,NaN,true
608,53d111d0,The primary school population in England has c...,NaN,mixture
690,46c1c680,People tired of tough decade had hopes for the...,NaN,mixture
742,6b94e779,Historians may look to 2015 as the year when s...,NaN,other
767,57eba0b9,"According to NOAA’s own historical data, of th...",NaN,other
774,f2cf61ca,An 18-year-old United States citizen has been ...,NaN,true
797,eac62836,Get US and UK politics insight with our free d...,NaN,true
863,6378a0ff,A coalition of civil society groups has descri...,NaN,true
879,bf3f6fdb,"MOSCOW, August 13. /TASS/. The United States’ ...",NaN,mixture
898,842ac903,Rep. Leon Young figures the Wisconsin Legislat...,NaN,false

In [35]:
# supprimer les lignes ou le title est manquant
df = df.dropna(subset=['title'])

In [36]:
df.isnull().sum()

public_id     0
text          0
title         0
our rating    0
dtype: int64

In [37]:
# afficher les lignes ou 'our rating" == true
df[df['our rating'] == 'true']

,public_id,text,title,our rating
31,da55bc13,It is absolutely right that across this House ...,Wednesday 25 April 2018,true
37,673f05fa,Manchin and Capito Introduce Legislation to Im...,Manchin and Capito Introduce Legislation to Im...,true
62,bbf4d6a7,"WASHINGTON, D.C. — Ohio Treasurer Josh Mandel,...","Josh Mandel discloses finances, showing his wi...",true
73,b57fd483,"BUFFALO, N.Y. WKBW — As people stay home to he...","Gas prices have dropped, but in N.Y. state the...",true
82,eaf36480,SHARE By of the Republican state Rep. Jeff S...,Stone touts Walker template in run for county ...,true
...,...,...,...,...
1245,d0b0e459,Scientists have long known about the anomalous...,Global Ocean Circulation Appears To Be Collaps...,true
1259,47423bb6,More than four million calls to the taxman are...,Taxman fails to answer four million calls a ye...,true
1260,097c142a,More under-18s are being taken to court for se...,Police catch 11‑year‑olds being used to sell d...,true
1262,af3393ce,The late Robin Williams once called cocaine “G...,A coke-snorting generation of hypocrites,true
1263,a39d07df,The late Robin Williams once called cocaine “G...,A coke-snorting generation of hypocrites,true

In [38]:
# compter toutes les valeurs uniques de la colonne 'our rating'
df['our rating'].value_counts()

our rating
false      496
mixture    312
true       197
other       94
Name: count, dtype: int64

In [40]:
# mettre tout les valeurs de titre et texte en minuscules
df['title'] = df['title'].str.lower() 
df['text'] = df['text'].str.lower()
df.head()

,public_id,text,title,our rating
0,5a228e0e,distracted driving causes more deaths in canad...,"you can be fined $1,500 if your passenger is u...",false
1,30c605a1,missouri politicians have made statements afte...,missouri lawmakers condemn las vegas shooting,mixture
2,c3dea290,home alone 2: lost in new york is full of viol...,cbc cuts donald trump's 'home alone 2' cameo o...,mixture
3,f14e8eb6,but things took a turn for the worse when riot...,obama’s daughters caught on camera burning us ...,false
4,faf024d6,it’s no secret that epstein and schiff share a...,leaked visitor logs reveal schiff’s 78 visits ...,false

In [48]:
# suppression des ponctuations et stopwords
import string
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words('english')
df['title'] = df['title'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
df['text'] = df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
df['title'] = df['title'].str.replace('[{}]'.format(string.punctuation), '')
df['text'] = df['text'].str.replace('[{}]'.format(string.punctuation), '')
df.head()



#supprimet les virgules et les points des texts
df['text'] = df['text'].str.replace(',', '')
df['text'] = df['text'].str.replace('.', '')

#affiche moi la 1ere ligne 
df['text'][0]

[nltk_data] Downloading package stopwords to /home/jalal/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

'distracted driving cause death canada impaired driving it’s every province territory law driving operating cell phone “tell passenger stay phone driving measure necessary distracted driving claimed life impaired driving province like british columbia ontario quebec alberta nova scotia manitoba newfoundland labrador “mobile phones even held passenger dangerous distraction driver starting next week distracted screen held passenger attracts penalty $1500 three demerit points “drivers screen mix – doesn’t matter holding device using facetime taking selfies driver showing driver funny cat video no-no” province mobile phone categorised “visual display unit” meaning considered akin television screen it’s important practice safe driving sake fellow drivers canada cracking distracted driving problem rollout stricter law impose harsher penalty heftier fine guilty offenders it’s taking effect next week add serious penalty convicted distracted driving'

[nltk_data] Downloading package wordnet to /home/jalal/nltk_data...

,public_id,text,title,our rating
0,5a228e0e,distracted driving cause death canada impaired...,"fined $1,500 passenger using mobile phone, sta...",false
1,30c605a1,missouri politician made statement mass shooti...,missouri lawmaker condemn la vega shooting,mixture
2,c3dea290,home alone 2: lost new york full violence that...,cbc cut donald trump's 'home alone 2' cameo br...,mixture
3,f14e8eb6,thing took turn worse riot police fired tear g...,obama’s daughter caught camera burning u flag ...,false
4,faf024d6,it’s secret epstein schiff share long history ...,leaked visitor log reveal schiff’s 78 visit ep...,false